body {
  font-family: sans-serif;
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

pre {
  font-size: 17px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.logo {
  font-size: 20px;
  color: black;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
}

.header {
  text-align: center;
}

.link {
  float: right;
}

.post {
  border: 1px solid transparent;
  margin-top: 20px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.post-created {
  display: inline;
  float: right;
}
