<!DOCTYPE html>
<html>
  <head>
    <title>Nick's Blog!</title>
    <link href="/stylesheets/blog.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="/blog" class="logo">Nick's Blog</a>
    <a href="/blog/newpost" class="link">Submit new post</a>
    <h1 class="header">Home</h1>

    {% for post in posts %}
      <div class="post">
        <div class="post-created">{{post.created.date()}}</div>
        <div class="post-title">{{post.title}}</div>
        <hr>
        <pre class="post-message">{{post.message}}</pre>
      </div>
    {% endfor %}
  </body>
</html>
