<!DOCTYPE html>
<html>
  <head>
    <title>Sign up!</title>
    <link href="/stylesheets/blog.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class="header">Sign up</h1>

    <form method="post">
      <label>
        Username
        <input type="text" name="username" value="{{username}}">
        {{error_username}}
      </label>
      <label>
        Password
        <input type="password" name="password">
        {{error_password}}
      </label>
      <label>
        Verify Password
        <input type="password" name="verify">
        {{error_verify}}
      </label>
      <label>
        Email (optional)
        <input type="text" name="email" value="{{email}}">
        {{error_email}}
      <label>
      <input type="submit">
    </form>
  </body>
</html>
