<!DOCTYPE html>
<html>
  <head>
    <title>Submit a new blog post</title>
    <link href="/stylesheets/new_post.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="/blog" class="logo">Nick's Blog</a>
    <h1 class="header">Submit New Post</h1>

    <form method="post">
      <label>
        <div>Title</div>
        <input type="text" name="title" value="{{title}}">
      </label>
      <label>
        <div>Message</div>
        <textarea name="message">{{message}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Submit Post">
    </form>
  </body>
</html>
