<!DOCTYPE html>
<html>
  <head>
    <title>{{topic}}</title>
    <link href="/stylesheets/wiki.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="holder">
      <span class="logo">
        <a href="/wiki" class="clean-link">Nick's Wiki</a>
      </span>
      <span class="links">
        {{username}}
        [<a href="/logout" class="clean-link">logout</a>]
      </span>
    </div>
    <div class="title">
      {{topic}}
    </div>
    <form method="post">
      <textarea name="content">{{content}}</textarea>
      <input type="submit" value="Save">
    </form>
  </body>
</html>
