<!DOCTYPE html>
<html>
  <head>
    <title>Nick's Wiki</title>
    <link href="/stylesheets/wiki.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="holder">
      <span class="logo">
        <a href="/" class="clean-link">Home</a>
      </span>
      <span class="links">
        {% if username %}
          {{username}}
          [<a href="/logout" class="clean-link">logout</a>]
        {% else %}
          <a href="/login" class="clean-link">Login</a>
          |
          <a href="/signup" class="clean-link">Sign Up</a>
        {% endif %}
      </span>
    </div>
    <div class="title">
      Nick's Wiki
    </div>
      <p class="content">
        Hello! Welcome to Nick's Wiki. This is a basic wiki site where
        all content is editable by the users. Use the form below to get
        started. Don't know where to start? Try searching 'kittens'.
      </p>
    <form method="post" class="search">
      <table>
        <tr>
          <input class="search-input" type="text" name="topic" placeholder="Topic of interest" />
          <input type="submit" value="Go" />
        </tr>
      </table>
    </form>
  </body>
<html>
